{
   "extends": ["next", "prettier", "next/core-web-vitals"],
   "rules": {
      "react-hooks/exhaustive-deps": "off",
      "import/no-anonymous-default-export": "off",
      "react/no-unescaped-entities": "off",
      "react/display-name": "off",
      "jsx-a11y/alt-text": "off"
   },
   "ignorePatterns": [".next"]
}
