@font-face {
    font-family: 'CormorantGaramond';
    src: url('./CormorantGaramond-Medium.ttf');
}

@font-face {
    font-family: 'CormorantGaramond-Light';
    src: url('./CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'StingerFitTrial';
    src: url('./StingerFitTrial-Regular.ttf');
}

@font-face {
    font-family: 'StingerFitTrial-Bold';
    src: url('./StingerFitTrial-Bold.ttf');
}
