@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('../fonts/font.css');

.border-radius-ellipse {
    border-radius: 70% 30%;
}

.font-style {
    font-family: fantasy;
}

ul {
    list-style-type: disc;
}

html {
    scroll-behavior: smooth;
}
